
.icon-2-mannsspill:before { content: '\e800'; } /* '' */
.icon-abstrakt-strategi:before { content: '\e801'; } /* '' */
.icon-arets-spill-vinnere:before { content: '\e802'; } /* '' */
.icon-barnespill:before { content: '\e803'; } /* '' */
.icon-bsg-anbefaler:before { content: '\e804'; } /* '' */
.icon-familiespill:before { content: '\e805'; } /* '' */
.icon-ferdighetsspill:before { content: '\e806'; } /* '' */
.icon-kortspill:before { content: '\e807'; } /* '' */
.icon-kunnskapsspill:before { content: '\e808'; } /* '' */
.icon-lett-strategi:before { content: '\e809'; } /* '' */
.icon-selskapsspill:before { content: '\e80a'; } /* '' */
.icon-strategispill:before { content: '\e80b'; } /* '' */
.icon-terningspill:before { content: '\e80c'; } /* '' */
.icon-star:before { content: '\e80d'; } /* '' */
.icon-star-empty:before { content: '\e80e'; } /* '' */
.icon-trash-empty:before { content: '\e80f'; } /* '' */